*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #36768c;
}

h1{
    font-size: 2.5rem;
    text-align: center;
    /*border: 2px solid red;*/
}

footer{
    text-align: center;
    font-size: 1.4rem;
}

/* permet de positionner la carte */
main{
    width: 100%;
    height: 90vh;
    font-family: "roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 3px dashed purple;*/
}

/* La carte */
.card{
    width: 320px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    border: solid 8px #fff;
    position: relative;
}

/* Image de la carte */
.card_img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 15px;
}

.card_body{
    width: 100%;
    height: 100%;
    top:0;
    right: -100%;
    position: absolute;
    background: #1f3d4738;
    backdrop-filter: blur(5px); /* rend l'image flou */
    border-radius: 15px;
    color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column; /* met les textes et colonnes */
    justify-content: center; /* centre les textes dans la carte */
    transition: 1.5s; /* temps de la transition entre les deux cartes */
    }

/* animation de la carte */
.card:hover .card_body{
    right: 0;
}

.card_title{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 500;
}

.card_sub_title{
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 300;/* gras du texte */
}

.card_info{
    font-size: 16px;
    line-height: 25px; /* écrat entre les lignes */
    margin: 40px 0;
    font-weight: 400;
}

.card_btn{
    color: #1f3d47;
    background: #8fabba;
    padding: 5px 20px;
    width: 120px;
    border-radius: 5px;
    text-transform: capitalize;
    border: none;
    outline: none;
    font-weight: 500;
    cursor: pointer; /* fait apparaitre la main lorsque le curseur touche le bouton */
}